[submodule "Zappy_server"]
	path = Zappy_server
	url = https://github.com/Kaserta/Zappy_server.git
[submodule "Graphical_client"]
	path = Graphical_client
	url = https://github.com/Kaserta/Graphical_client.git
[submodule "Client_IA"]
	path = Client_IA
	url = https://github.com/Kaserta/Client_IA.git
